

.wrapper{
  width:250px;
  border-radius: 5px;
  border:5px yellow solid;
  background:white;
  display:flex;
  height:80px;
  max-height:10vh;
  flex-direction:column;
  .imageOfCollection{
    display:flex;
    flex-wrap:wrap;
    overflow: scroll;;
    
    

  }
}