.collectionsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
      margin: 20px;
    }
  }
}
