
.button{
  min-width:150px;
  padding:10px;
  background-color: yellow;

  span{
    font-size: 25px;
    font-weight:bold;
  }
}
.buttonWithIcon{
  border:none;
  background:none;
  width:20px;
  
}