.verbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:80vh;
  
  .itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:100px;
    p {
      width: 0;
    }
    .items {
      display: flex;
      flex-wrap:wrap;
    }
  }
}
