.verbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  .itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    p {
      width: 0;
    }
    .items {
      display: flex;
    }
  }
}
