.AddNewCollection {
  width: 200px;
  height: 100px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 2px solid black;
}
